main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}
*{
    margin: 0;
    padding: 0;
}
.contact-bg{
    width: 100%;
    max-width: 1980px;
    height: auto;
    position: relative;
    z-index: -1;
}
.contact-header{
    position: absolute;
    margin-top: 150px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.contact-title{
    font-family: TheSeasons;
}
.contact-title h1{
    font-weight: 525;
    color: #f0f1ed;
    font-size: 10.5rem;
}
.contact-us-big{
    display: flex;
    justify-content: center;
    width: 1536px;
    height: auto;

}
.contact-us-big-wrapper{
    font-family: TheSeasons;
    font-weight: 525;
    letter-spacing: 1.5px;
}
.contact-us-big-wrapper h1{
    font-size: 8rem;
}
.contact-info-map-holder{
    width: 1536px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info-map-holder-wrapper{
    display: flex;
}
.contact-info-holder{
    display: inline;
}
.contact-description{
    padding: .6rem 1.1rem;
    width: 95%;
    color: gray;
    font-family: PlayFairDisplay;
}
.contact-description p{
    font-size: 1.5rem;
}
.contact-info{
    width: 95%;
    display: flex;
}
.contact-type{
    padding: 0 30px;
    font-weight: 525;
    font-family: TheSeasons;
    font-size: 1.5rem;
}
.contact-type p{
    padding-top: 52px;
}
.contacts{
    margin-left: 120px;
    padding: 0 30px;
    font-family: PlayFairDisplay;   
}
.contacts h4{
    font-size: 23px;
    padding-top: 45px;
    font-weight: 100;
    color: gray;
}
.contact-info-map-holder-wrapper .contact-map-holder{
    width: 100%;
}
.contact-map-holder iframe{
    width: 100%;
}
  /* 2xl */
@media (max-width: 1536px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .contact-bg{
        width: 100%;
    }
    .contact-header{
        margin-top: 140px;
    }
    .contact-title h1{
        font-size: 8.9rem;
    }
    .contact-us-big{
        width: 1280px;
    }
    .contact-us-big-wrapper h1{
        font-size: 7rem;
    }
    .contact-info-map-holder{
        width: 1280px;
    }
  }
  @media (max-width: 1366px) {
    body{
        background-attachment: fixed;
        height: 100%;
    }
    .contact-bg{
        width: 100%;
    }
    .contact-header{
        margin-top: 125px;
    }
    .contact-title h1{
        font-size: 8.5rem;
    }
    .contact-us-big{
        width: 1180px;
    }
    .contact-us-big-wrapper h1{
        font-size: 6.2rem;
    }
    .contact-info-map-holder{
        width: 1180px;
        padding-bottom: 20px;
    }
    .contact-description p{
        font-size: 1.4rem;
    }
    .contact-type{
        font-size: 1.4rem;
    }
    .contacts{
        margin-left: 100px;}
    .contacts h4{
        font-size: 1.3rem;
        padding-top: 45px;
        color: gray;
    }
  }

  /* xl */
 @media (max-width: 1280px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .contact-bg{
        width: 100%;
    }
    .contact-header{
        margin-top: 120px;
    }
    .contact-title h1{
        font-size: 6.9rem;
    }
    .contact-us-big{
        width: 1024px;
    }
    .contact-us-big-wrapper h1{
        font-size: 6rem;
    }
    .contact-info-map-holder{
        width: 1024px;
    }
    .contact-description p{
        font-size: 1.2rem;
    }
    .contact-type{
        font-size: 1.2rem;
    }
    .contacts{
        margin-left: 100px;}
    .contacts h4{
        font-size: 1.1rem;
        padding-top: 47px;
        color: gray;
    }
  }
  
  /* lg */
@media (max-width: 1024px) {
    .contact-bg{
        width: 100%;
    }
    .contact-header{
        margin-top: 80px;
    }
    .contact-title h1{
        font-size: 5.9rem;
    }
    .contact-us-big{
        width: 768px;
    }
    .contact-us-big-wrapper h1{
        font-size: 5rem;
    }
    .contact-info-map-holder{
        width: 768px;
    }
    .contact-description p{
        font-size: 1rem;
    }
    .contact-type{
        font-size: 1rem;
    }
    .contacts{
        margin-left: 10px;}
    .contacts h4{
        font-size: 1rem;
        padding-top: 50px;
        color: gray;
    }
  } 
  /* md */
 @media (max-width: 768px) {
    .contact-bg{
        width: 768px;
        height: auto;
    }
    .contact-header{
        margin-left: 0;
        margin-top: 60px;
    }
    .contact-title h1{
        font-size: 4.9rem;
    }
    .contact-us-big{
        margin-left: 0;
        width: 640px;
    }
    .contact-us-big-wrapper h1{
        font-size: 3.5rem;
    }
    .contact-info-map-holder{
        margin-left: 0;
        width: 640px;
    }
    .contact-description p{
        font-size: .9rem;
    }
    .contact-type{
        font-size: .9rem;
    }
    .contact-type p{
        padding-top: 32px;
    }
    .contacts{
        margin-left: 100px;}
    .contacts h4{
        font-size: .9rem;
        padding-top: 25px;
        color: gray;
    }
    .contact-info-map-holder-wrapper{
        display: block;
    }
    .contact-info-map-holder-wrapper .contact-map-holder{
        margin-top: 20px;
        width: 100%;
    }
    .contact-map-holder iframe{
        width: 100%;
        height: 300px;
    }
  } 
  
  /* sm */
@media (max-width: 640px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    section{
        gap: 6px;
    }
    .contact-bg{
        width: 100%;
        height: auto;
    }
    .contact-header{
        margin-left: 0;
        margin-top: 40px;
    }
    .contact-title h1{
        font-size: 4rem;
    }
    .contact-us-big{
        margin-left: 0;
        width: 475px;
    }
    .contact-us-big-wrapper h1{
        font-size: 2.5rem;
    }
    .contact-info-map-holder{
        margin-left: 0;
        width: 475px;
    }
    .contact-description p{
        font-size: .8rem;
    }
    .contact-type{
        font-size: .8rem;
    }
    .contact-type p{
        padding-top: 22px;
    }
    .contact-info{
        width: 100%;
        
    }
    .contacts{
        margin-left: 5px;}
    .contacts h4{
        font-size: .8rem;
        padding-top: 15px;
        color: gray;
    }
    .contact-info-map-holder-wrapper{
        display: block;
    }
    .contact-info-map-holder-wrapper .contact-map-holder{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contact-map-holder iframe{

        width: 90%;
        height: 200px;
    }
  } 
  
  /* xs */
 @media (max-width: 475px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    section{
        gap: 3px;
    }
    .contact-bg{
        width: 100%;
        height: auto;
    }
    .contact-header{
        margin-left: 0;
        margin-top: 40px;
    }
    .contact-title h1{
        font-size: 3rem;
    }
    .contact-us-big{
        margin-left: 0;
        width: 400px;
    }
    .contact-us-big-wrapper h1{
        font-size: 2.2rem;
    }
    .contact-info-map-holder{
        margin-left: 0;
        width: 400px;
    }
    .contact-description p{
        font-size: .756rem;
    }
    .contact-type{
        font-size: .756rem;
    }
    .contact-type p{
        padding-top: 22px;
    }
    .contact-info{
        width: 100%;
        
    }
    .contacts{
        margin-left: 5px;}
    .contacts h4{
        font-size: .8rem;
        padding-top: 15px;
        color: gray;
    }
    .contact-info-map-holder-wrapper{
        display: block;
    }
    .contact-info-map-holder-wrapper .contact-map-holder{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contact-map-holder iframe{

        width: 90%;
        height: 200px;
    }
  } 

  @media (max-width: 1440px) {
    .contact-title{
        margin-left: 6%;
    }
    .contact-info-map-holder{
        margin-left: 6%;
    }
    .contact-us-big{
        margin-left: 6%;
    }
  } 