.foodclass-menu-holder-row3 .menu-tab-specialties .tab-dishes-holder-dessert{
    width: 25.5%;
    height: 45vh;
}
.foodclass-menu-holder-row3 .menu-tab-specialties .tab-description-holder{
    width: 72.5%;
    height: 45vh;
}
.foodclass-menu-holder-row3 .menu-tab-specialties li{
    list-style: none;
}
.tab-dishes-holder-dessert{
    position: relative; 
}
.tab-dishes-holder-dessert .tab-dishes-dessert {
    position: relative; 
}
.tab-dishes-holder-dessert ul{
    padding: 0 0;
	border-right: 3px solid #ccc;  
}  
.tab-dishes-holder-dessert .tab-dishes-dessert li{
    display: flex;
	align-items: center;
	grid-gap: .5rem;
	padding: 15px 2rem;
	cursor: pointer;
	font-size: 25px;
    font-weight: bold;
	border-right: 3px solid transparent;
    position: relative;
    transition: border-right-color .5s ease, transform 0.1s ease;
}
.tab-indicator3{
    position: absolute;
    width: 3.5px;
    height: 60px;
    background: black;
    left: 347.5px;
    top: -5px;
    transition: all 500ms ease-in-out;
}
.tab-dishes-holder-dessert .tab-dishes-dessert li:hover {
    transform: translateY(-3px);
}
.tab-description-holder .tab-description-dessert{
    padding: 20px 25px;
}
.tab-description-holder{
    overflow: hidden
}
.tab-description-holder .tab-description-dessert li{
    max-height: 0;
    visibility: hidden; 
    opacity: 0; 
    transform: translateX(-20px); 
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.tab-description-holder .tab-description-dessert li.active{
    max-height: 500px;
    visibility: visible;
    opacity: 1; 
    transform: translateX(0);
}
.tab-description-holder .tab-description-dessert .tab-description-inner{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}
.tab-description-holder .tab-description-dessert li .description-text{
    width: 70%;
    text-align: left;
}
.tab-description-holder .tab-description-dessert li h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.tab-description-holder .tab-description-dessert li h5{
    font-size: 27px;
    font-weight: 600;
    color: #333333;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
}
.tab-description-holder .tab-description-dessert li p{
    font-size: 21px;
    font-family: PlayFairDisplay;
    margin-bottom: 35px;
}
.tab-description-holder .tab-description-dessert li span{
    font-size: 30px;
    font-weight: 600;
}
.tab-description-holder .tab-description-dessert li img{
    margin-top: -20px;
    margin-left: 20px;
    height: 38vh;
    width: auto;
    border-radius: 35px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .8);
}