.foodclass-menu-holder-row3 .menu-tab-specialties .tab-dishes-holder-dessert{
    width: 27%;
    height: 46vh;
}
.tab-dishes-holder-dessert .tab-dishes-dessert li{
    padding: 12.4px 2rem;
    font-size: 21px;
}
.tab-indicator1{
    width: 3px;
    height: 49px;
    left: 283px;
}
.tab-description-holder .tab-description-dessert{
    padding: 18px 22px;
}
.tab-description-holder .tab-description-dessert li h1{
    font-size: 38px;
    margin-bottom: 18px;
}
.tab-description-holder .tab-description-dessert li h5{
    font-size: 20px;
    margin-bottom: 17px;
}
.tab-description-holder .tab-description-dessert li p{
    font-size: 17px;
    margin-bottom: 30px;
}
.tab-description-holder .tab-description-dessert li span{
    font-size: 26px;
}
.tab-description-holder .tab-description-dessert li img{
    margin-top: -18px;
    margin-left: 20px;
    height: 45vh;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .7);
}