.specialties{
    width: 100%;
    height: 85vh;
    background-color: #f0f1ed;
    font-family: TheSeasons;

}
.divider_img{
    margin-top: 150px;
    position: absolute;
    width: 100%;
}
.specialties h1{
    font-size: 83px;
    margin-top: 270px;
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #f0f1ed;
}
.specialties h2{
    text-align: center;
    z-index: 10;
    position: relative;
    bottom: -550px;
    font-size: 33px;
    color: #6e6c2f;
    font-weight: 100;
    font-family: TheSeasons;
}
.specialties h3{
    text-align: center;
    z-index: 10;
    position: relative;
    bottom: -575px;
    font-size: 53px;
    color: #a44018;
    font-weight: 100;
}
.food_specialties{
    width: 100%;
    height: 230vh;
    background-color:#f0f1ed;
    align-items: center;
    justify-content: center;
    display: flex;                
    flex-direction: column;  
    gap: 20px;
    margin-top: -33vh;
}
.food_specialties_1{    
    display: inline-flex;
    align-items: center;
    width: 93%;
    margin: 20px auto; 
    height: 55vh;
    font-family: TheSeasons;
    background: #f0f1ed;
}
.food_specialties_1 img{
    margin-right: 40px;
    margin-left: 80px;
    border-radius: 35px;
}
.food_specialties_1 .fs-holder1{
    flex: 1;
    height: 53vh;
}
.food_specialties_1 .fs-holder1 h2{
    color: #6e6c2f;
    margin-left: 20px;
    font-size: 25px;
}
.food_specialties_1 .fs-holder1 h1{
    position: relative;
    color: #a44018;
    font-size: 40px;
    padding-top: 10px;
    font-size: 48px;
}
.food_specialties_1 .fs-holder1 p{
    width: 90%;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-weight: 525;
    line-height: 1.3;
    margin-top: 45px;
}
.food_btn{
    border: solid #6e6c2f 3px;
    padding: 20px;
    position: relative;
    font-family: TheSeasons;
    margin-top: 75px;
    font-size: 20px;
    background: transparent;
    transition: color 0.4s linear;
    z-index: 1;
    cursor: pointer;
}
.food_btn:hover {
    color: #f0f1ed;
}
.food_btn::before {
    color: #f0f1ed;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #6e6c2f;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
}
.food_btn::before {
    transform: scaleX(0);
}
.food_btn:hover::before {
    transform: scaleX(1);
}
.food_specialties_2{    
    display: inline-flex;
    align-items: center;
    width: 93%;
    margin: 20px auto; 
    height: 55vh;
    font-family: TheSeasons;
    background: #f0f1ed;
}
.food_specialties_2 img{
    margin-left: 40px;
    margin-right: 80px;
    border-radius: 35px;
}
.food_specialties_2 .fs-holder2{
    flex: 1;
    height: 53vh;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
}
.food_specialties_2 .fs-holder2 h2{
    color: #6e6c2f;
    font-size: 25px;
    margin-right: 10px;
}
.food_specialties_2 .fs-holder2 h1{
    position: relative;
    color: #a44018;
    font-size: 40px;
    padding-top: 10px;
    font-size: 48px;
}
.food_specialties_2 .fs-holder2 p{
    width: 90%;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-weight: 525;
    line-height: 1.3;
    margin-top: 45px;
    text-align: right;
}
.owl-carousel-holder{
    margin-top: -150px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background: #f0f1ed;
}
/* 2xl */
@media (max-width: 1536px) {
    
  } 

  @media (max-width: 1366px) {
    .food_specialties{
        margin-top: 16vh;
        height: 210vh;
    }
    .specialties h1{
        margin-top: 240px;
        font-size: 60px;
    }
    .specialties h2{
        bottom: -430px;
        font-size: 33px;
    }
    .specialties h3{
        bottom: -445px;
        font-size: 53px;
    }
    .food_specialties_1 img{
        height: 420px;
        width: auto;
        margin-right: 40px;
        margin-left: 20px;
    }
    .food_specialties_1 .fs-holder1{
        margin-top: -80px;
        flex: 1;
        height: 50vh;
    }
    .food_specialties_1 .fs-holder1 h2{
        margin-left: 27px;
        font-size: 22px;
    }
    .food_specialties_1 .fs-holder1 h1{
        padding-top: 10px;
        font-size: 44px;
    }
    .food_specialties_1 .fs-holder1 p{
        width: 97%;
        font-size: 22px;
        margin-top: 25px;
    }
    .food_btn{
        padding: 18px;
        margin-top: 35px;
        font-size: 18px;
    }
    .food_specialties_2{    
        margin: 90px auto;
    }
    .food_specialties_2 img{
        height: 420px;
        width: auto;
        margin-right: 20px;
        margin-left: 40px;
    }
    .food_specialties_2 .fs-holder2{
        margin-top: -80px;
        flex: 1;
        height: 50vh; 
    }
    .food_specialties_2 .fs-holder2 h2{
        font-size: 22px;
        margin-right: 17px;
    }
    .food_specialties_2 .fs-holder2 h1{
        padding-top: 10px;
        font-size: 44px;
    }
    .food_specialties_2 .fs-holder2 p{
        width: 97%;
        font-size: 22px;
        margin-top: 25px;
    }
    .owl-carousel-holder{
        margin-top: 100px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {

    .food_specialties{
        height: 180vh;
        margin-top: -15vh;
    }
    .specialties h2{
        bottom: -430px;
        font-size: 29px;
    }
    .specialties h3{
        bottom: -445px;
        font-size: 49px;
    }
    .specialties h1{
        font-size: 57px;
        margin-top: 240px;
    }
    .food_specialties_1{    
        height: 55vh;
    }
    .food_specialties_1 img{
        height: 340px;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 35px;
    }
    .food_specialties_1 .fs-holder1 h2{
        margin-top: 20px;
        font-size: 21px;
    }
    .food_specialties_1 .fs-holder1 h1{
        font-size: 40px;
        padding-top: 10px;
    }
    .food_specialties_1 .fs-holder1 p{
        width: 97%;
        margin-top: 21px;
        font-size: 19px;
    }
    .food_specialties_1 div button{
        border: solid #6e6c2f 3px;
        padding: 18px;
        position: relative;
        font-family: TheSeasons;
        margin-top: 30px;
        font-size: 15px;
        background: transparent;
        transition: color 0.4s linear;
        z-index: 1;
        cursor: pointer;
    }
    .food_specialties_2{    
        height: 55vh;
    }
    .food_specialties_2 img{
        height: 340px;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 35px;
    }
    .food_specialties_2 .fs-holder2 h2{
        margin-top: 20px;
        font-size: 21px;
    }
    .food_specialties_2 .fs-holder2 h1{
        font-size: 40px;
        padding-top: 10px;
    }
    .food_specialties_2 .fs-holder2 p{
        width: 97%;
        margin-top: 21px;
        font-size: 19px;
    }
    .food_specialties_2 div button{
        border: solid #6e6c2f 3px;
        padding: 18px;
        position: relative;
        font-family: TheSeasons;
        margin-top: 30px;
        font-size: 15px;
        background: transparent;
        transition: color 0.4s linear;
        z-index: 1;
        cursor: pointer;
    }
    .owl-carousel-holder{
        margin-top: -10px;
    }
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
    
  }
  
  /* md */
  /* @media (max-width: 768px) {
    
  } */
  
  /* sm */
  /* @media (max-width: 640px) {
    
  } */
  
  /* xs */
  /* @media (max-width: 475px) {
    
  } */