  /* 2xl */
/* @media (max-width: 1536px) {
    
  }
   */
  /* xl */
  /* @media (max-width: 1280px) {
    
  } */
  
  /* lg */
  /* @media (max-width: 1024px) {
    
  } */
  
  /* md */
  /* @media (max-width: 768px) {
    
  } */
  
  /* sm */
  /* @media (max-width: 640px) {
    
  } */
  
  /* xs */
  /* @media (max-width: 475px) {
    
  } */
  *{
    margin: 0;
    padding: 0;
}
#pre-loader {
  background: #f0f1ed url('/img/kainan-loader.gif') no-repeat center center;
  background-size: 30%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 1.1s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.1s ease; /* Adjust the transition duration and curve */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 100000;
  }
body{
  background: #f0f1ed;
}
html{
    scroll-behavior: smooth;
}
@font-face {
  font-family: PlayFairDisplay;
  src: url(playfairdisplay.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(Gill-Sans.otf);
}
@font-face {
    font-family: TheSeasons;
    src: url(the-seasons-regular.ttf);
}